fastapi
uvicorn
python-multipart
psycopg2-binary
sqlalchemy
python-dotenv
requests
opencv-python-headless
# opencv is sufficient for dnn face detection
easyocr
numpy
facenet-pytorch
torch
torchvision
tqdm
scipy
