@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-scan {
        animation: scan 2s linear infinite;
    }
    
    @keyframes scan {
        0% { transform: translateY(-100%); }
        100% { transform: translateY(100%); }
    }
}
